<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsforsusers.hello">

    <application
        android:label="Hello"
        android:hasCode="false">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Hello"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <meta-data
                android:name="android.app.lib_name"
                android:value="hello" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
